<!-- Navigation-->
<link rel="stylesheet" href="/css/contact.css" />
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"
      ><img
        src="/img/location-pin-name.svg"
        alt="Mall Guide"
        style="height: 60px"
    /></a>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu
      <i class="fas fa-bars ml-1"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#events">EVENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">STORES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="dine">DINE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#feedback">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#team">Team</a>
        </li>
        <% if(flag){ %>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="signin">SIGN IN</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">Welcome To Our Mall!</div>
    <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
    <a
      class="btn btn-primary btn-xl text-uppercase js-scroll-trigger"
      href="#services"
      >Tell Me More</a
    >
  </div>
</header>
