
        <!--footer section start-->
        <footer>
            2021 &copy; Mall Guide by Team 15 @DAIICT - Web Development
        </footer>
        <!--footer section end-->

        
    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/non-visitor/js/jquery-1.10.2.min.js"></script>
<script src="/non-visitor/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/non-visitor/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/non-visitor/js/bootstrap.min.js"></script>
<script src="/non-visitor/js/modernizr.min.js"></script>
<script src="/non-visitor/js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="/non-visitor/js/easypiechart/jquery.easypiechart.js"></script>
<script src="/non-visitor/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="/non-visitor/js/sparkline/jquery.sparkline.js"></script>
<script src="/non-visitor/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="/non-visitor/js/iCheck/jquery.icheck.js"></script>
<script src="/non-visitor/js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="/non-visitor/js/flot-chart/jquery.flot.js"></script>
<script src="/non-visitor/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="/non-visitor/js/flot-chart/jquery.flot.resize.js"></script>
<script src="/non-visitor/js/flot-chart/jquery.flot.pie.resize.js"></script>
<script src="/non-visitor/js/flot-chart/jquery.flot.selection.js"></script>
<script src="/non-visitor/js/flot-chart/jquery.flot.stack.js"></script>
<script src="/non-visitor/js/flot-chart/jquery.flot.time.js"></script>
<script src="/non-visitor/js/main-chart.js"></script>

<!--common scripts for all pages-->
<script src="/non-visitor/js/scripts.js"></script>


</body>
</html>
