<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Store Registration</title>

    <link href="/non-visitor/css/style.css" rel="stylesheet">
    <link href="/non-visitor/css/style-responsive.css" rel="stylesheet">


</head>

<body class="login-body">

<div class="container">

    <form class="form-signin" action="index.html">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title text-dark" style="color: black;">Store Registration</h1>
            <img src="/img/location-pin.svg" alt="" height="100px"/>
        </div>


        <div class="login-wrap">
            <p>Enter your personal details below</p>
            <input type="text" autofocus="" placeholder="Store Owner Name" class="form-control">
            <input type="text" autofocus="" placeholder="Address" class="form-control">
            <input type="text" autofocus="" placeholder="Email" class="form-control">
            <input type="text" autofocus="" placeholder="City/Town" class="form-control">
            <div class="radios">
                <label for="radio-01" class="label_radio col-lg-6 col-sm-6">
                    <input type="radio" checked="" value="1" id="radio-01" name="sample-radio"> Male
                </label>
                <label for="radio-02" class="label_radio col-lg-6 col-sm-6">
                    <input type="radio" value="1" id="radio-02" name="sample-radio"> Female
                </label>
            </div>

            <p></p>
            <p> Enter your store details below</p>
            <input type="text" autofocus="" placeholder="Store Name"  class="form-control">
            <input type="text" autofocus="" placeholder="Social Handle"  class="form-control">
            <input type="password" placeholder="Password" class="form-control">
            <input type="password" placeholder="Re-type Password" class="form-control">
            <select class="form-control input-sm m-bot15" style="font-size: 12px;background: #eaeaec">
                <option>Floor 1</option>
                <option>Floor 2</option>
                <option>Floor 3</option>
            </select>
            <select class="form-control input-sm m-bot15" style="font-size: 12px;background: #eaeaec">
                <option>Block A</option>
                <option>Block B</option>
                <option>Block C</option>
            </select>
            <label class="checkbox">
                <input type="checkbox" value="agree this condition"> I agree to the Terms of Service and Privacy Policy
            </label>
            <button type="submit" class="btn btn-lg btn-login btn-block">
                <i class="fa fa-check"></i>
            </button>

            <div class="registration">
                Already Registered.
                <a href="#" class="">
                    Login
                </a>
            </div>

        </div>

    </form>

</div>



<!-- Placed js at the end of the document so the pages load faster -->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/non-visitor/js/jquery-1.10.2.min.js"></script>
<script src="/non-visitor/js/bootstrap.min.js"></script>
<script src="/non-visitor/js/modernizr.min.js"></script>

</body>
</html>
