<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <meta name="description" content="" />
    <meta name="author" content="ThemeBucket" />
    <link rel="shortcut icon" href="#" type="image/png" />

    <title>Add Service</title>

    <!--data table-->
    <link
      rel="stylesheet"
      href="/non-visitor/js/data-tables/DT_bootstrap.css"
    />

    <link href="/non-visitor/css/style.css" rel="stylesheet" />
    <link href="/non-visitor/css/style-responsive.css" rel="stylesheet" />
  </head>

  <body class="sticky-header">
    <section>
      <%- include('./partials/sidebar'); %>

      <!-- main content start-->
      <div class="main-content">
        <%- include('./partials/header'); %>

        <!-- page heading start-->
        <div class="page-heading">
          <h3>Add Service</h3>
          <ul class="breadcrumb">
            <li>
              <a href="#">Dashboard</a>
            </li>
            <li>
              <a href="#">Services</a>
            </li>
            <li class="active">Add Service</li>
          </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
          <div class="row">
            <div class="col-lg-12">
              <section class="panel">
                <header class="panel-heading">Add Service</header>
                <div class="panel-body">
                  <div class="form">
                    <form
                      class="cmxform form-horizontal adminex-form"
                      id="commentForm"
                      method="POST"
                      action="/services"
                    >
                      <div class="form-group">
                        <label for="cname" class="control-label col-lg-2"
                          >Service Name</label
                        >
                        <div class="col-lg-10">
                          <input
                            class="form-control"
                            id="cname"
                            name="service_name"
                            minlength="2"
                            type="text"
                            required
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="cemail" class="control-label col-lg-2"
                          >Description
                        </label>
                        <div class="col-lg-10">
                          <input
                            class="form-control"
                            id="cemail"
                            name="description"
                            required
                          />
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="curl" class="control-label col-lg-2"
                          >Floor</label
                        >
                        <div class="col-lg-10">
                          <select
                            class="form-control input-sm m-bot15"
                            style="font-size: 12px; background: #eaeaec"
                            name="floor"
                          >
                            <option value="1">Floor 1</option>
                            <option value="2">Floor 2</option>
                            <option value="3">Floor 3</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="curl" class="control-label col-lg-2"
                          >Block</label
                        >
                        <div class="col-lg-10">
                          <select
                          class="form-control input-sm m-bot15"
                          style="font-size: 12px; background: #eaeaec"
                          name="block"
                        >
                          <option value="A">Block A</option>
                          <option value="B">Block B</option>
                          <option value="C">Block C</option>
                        </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                          <button class="btn btn-primary" type="submit">
                            Add New Service
                          </button>
                          <button class="btn btn-default" type="button">
                            Cancel
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>2021 &copy; Mall Guide by Team 15</footer>
        <!--footer section end-->
      </div>
      <!-- main content end-->
    </section>

    <!-- Placed js at the end of the document so the pages load faster -->
    <script src="/non-visitor/js/jquery-1.10.2.min.js"></script>
    <script src="/non-visitor/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="/non-visitor/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/non-visitor/js/bootstrap.min.js"></script>
    <script src="/non-visitor/js/modernizr.min.js"></script>
    <script src="/non-visitor/js/jquery.nicescroll.js"></script>

    <!--data table-->
    <script
      type="text/javascript"
      src="/non-visitor/js/data-tables/jquery.dataTables.js"
    ></script>
    <script
      type="text/javascript"
      src="/non-visitor/js/data-tables/DT_bootstrap.js"
    ></script>

    <!--common scripts for all pages-->
    <script src="/non-visitor/js/scripts.js"></script>

    <!--script for Manage Services-->
    <script src="/non-visitor/js/editable-table.js"></script>

    <!-- END JAVASCRIPTS -->
    <script>
      $(document).ready(function () {});
    </script>
  </body>
</html>
