<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>

  <body class="sticky-header">
    <section>
      <%- include('./partials/sidebar'); %>

      <!-- main content start-->
      <div class="main-content">
        <%- include('./partials/header'); %>

        <!--body wrapper start-->
        <div class="wrapper">
          <div class="row states-info">
            <div class="col-md-3">
              <div class="panel red-bg">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-4">
                      <i class="fa fa-money"></i>
                    </div>
                    <div class="col-xs-8">
                      <span class="state-title"> Visitors Today </span>
                      <h4>452</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel blue-bg">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-4">
                      <i class="fa fa-tag"></i>
                    </div>
                    <div class="col-xs-8">
                      <span class="state-title"> Weekly Traffic </span>
                      <h4>12,980</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel green-bg">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-4">
                      <i class="fa fa-gavel"></i>
                    </div>
                    <div class="col-xs-8">
                      <span class="state-title"> Visitors Last Month </span>
                      <h4>99,874</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="panel yellow-bg">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-4">
                      <i class="fa fa-eye"></i>
                    </div>
                    <div class="col-xs-8">
                      <span class="state-title"> Unique Visitors </span>
                      <h4>784</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <section class="panel">
                <header class="panel-heading">
                  Visitors Over the Month
                  <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                  </span>
                </header>
                <div class="panel-body">
                  <div id="visitors-chart">
                    <div
                      id="visitors-container"
                      style="
                        width: 100%;
                        height: 358px;
                        text-align: center;
                        margin: 0 auto;
                      "
                    ></div>
                  </div>
                </div>
              </section>
            </div>
        
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="panel">
                    <header class="panel-heading">
                      Usage over devices
                    </header>
                    <div class="panel-body extra-pad">
                      <h4 class="pros-title"> </h4>
                      <div class="row">
                        <div class="col-sm-4 col-xs-4">
                          <div id="p-lead-1"></div>
                          <p class="p-chart-title">Laptop</p>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                          <div id="p-lead-2"></div>
                          <p class="p-chart-title">iPhone</p>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                          <div id="p-lead-3"></div>
                          <p class="p-chart-title">iPad</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel">
                    <header class="panel-heading">
                      Visit Stats
                    </header>
                    <div class="panel-body extra-pad">
                      <div class="col-sm-6 col-xs-6">
                        <div class="v-title">Visits</div>
                        <div class="v-value">10,090</div>
                        <div id="visit-1"></div>
                        <div class="v-info">Pages/Visit</div>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                        <div class="v-title">Unique Visitors</div>
                        <div class="v-value">8,173</div>
                        <div id="visit-2"></div>
                        <div class="v-info">Avg. Visit Duration</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             
            </div>

            <div class="col-md-6">
              <div class="panel">
                <header class="panel-heading">
                  Top Rated Stores
                </header>
                <div class="panel-body">
                
                  <div class="dir-info">
                    <div class="row">
                      <div class="col-xs-3">
                        <div class="avatar">
                          <img src="https://logo.clearbit.com/acehardware.com" alt="" />
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <h5>Ace Hardware</h5>
                        <span>
                          <a href="#" class="small"> 897 Impressions</a>
                        </span>
                      </div>
                 
                    </div>
                    <div class="row">
                      <div class="col-xs-3">
                        <div class="avatar">
                          <img src="https://logo.clearbit.com/bestbuy.com" alt="" />
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <h5>  Best Buy</h5>
                        <span>
                          <a href="#" class="small"> 294 Impressions</a>
                        </span>
                      </div>
              
                    </div>
                    <div class="row">
                      <div class="col-xs-3">
                        <div class="avatar">
                          <img src="https://logo.clearbit.com/homedepot.com" alt="" />
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <h5>Home Depot</h5>
                        <span>
                          <a href="#" class="small"> 157 Impressions</a>
                        </span>
                      </div>
            
                    </div>
                    <div class="row">
                      <div class="col-xs-3">
                        <div class="avatar">
                          <img src="https://logo.clearbit.com/robinhood.com" alt="" />
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <h5>Robinhood</h5>
                        <span>
                          <a href="#" class="small"> 123 Impressions</a>
                        </span>
                      </div>
                     
                    </div>
                    <div class="row">
                      <div class="col-xs-3">
                        <div class="avatar">
                          <img src="https://logo.clearbit.com/doordash.com" alt="" />
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <h5>Door Dash</h5>
                        <span>
                          <a href="#" class="small"> 74 Impressions</a>
                        </span>
                      </div>
                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
           

           
          </div>
        </div>
        <!--body wrapper end-->
        <%- include('./partials/footer'); %>
      </div>
    </section>
  </body>
</html>
