<body>

    <div class="container">
        <div class="grid-container">
            <div class="grid-item item1">
                <img src="/mall-guide/images/Adidas-logo.jpg" alt="Nike" width="200px">
                <h6><b>Open Hours:</b></h6>
                <h6><b>Daily,from 10:00 AM Till 09:00 PM</b></h6>
            </div>
            <div class="grid-item item2">
                <h1style="font-size: 15px;><b>The Nike Shoes</b></h1>
            <hr size=" 4 " color="grey ">
            <h6 style="font-size: 20px; ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, laboriosam. Expedita illo sint corrupti nihil modi asperiores temporibus accusantium eligendi dolorum non eius maiores dolorem repudiandae, aspernatur dolore eos nam!
            </h6>
        </div>
        <div class="grid-item item3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, vero expedita. Voluptatum debitis nostrum explicabo quo maiores, dolores animi qui nisi dolorem consectetur? Accusamus consectetur, delectus vero doloribus provident ut.</div>
        <div class="grid-item item4 ">
            <img src="images/adidas-images1.jpg " width="250px ">
        </div>
        <div class="grid-item item5 ">
            <img src="images/adidas-images2.jpg " width="250px ">
        </div>
        <div class="grid-item item6 ">
            <img src="images/adidas-images3.jpg " width="250px ">
        </div>
    </div>
</div>
</body>