<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dine</title>
    <link rel="stylesheet" href="css/dine.css" />
    <%- include('../partials/head'); %>
  </head>

  <body>
    <%- include('../partials/header'); %>
    <h1 style="text-align: center">OUR SERVICES SOME AWESOME THINGS WE DO</h1>

    <div class="container">
      <div class="card">
        <div class="imgbx">
          <img
            src="https://dtbtob4osa700.cloudfront.net/DineImages/14022020065710333_dprim.png"
            alt="img"
            usemap="#abc"
          />
        </div>
        <div class="contentbx">
          <div>
            <h3>The Punjab Grill</h3>
            <p>Restaurant|Ground Floor</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgbx">
          <img
            src="https://dtbtob4osa700.cloudfront.net/DineImages/12022020080040850_dprim.png"
            alt="img"
            usemap="#abc"
          />
        </div>
        <div class="contentbx">
          <div>
            <h3>Pukhtaan</h3>
            <p>Restaurant|Second Floor</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgbx">
          <img
            src="https://dtbtob4osa700.cloudfront.net/DineImages/12022020080040850_dprim.png"
            alt="img"
            usemap="#abc"
          />
        </div>
        <div class="contentbx">
          <div>
            <h3>The Irish House</h3>
            <p>Restaurant|First Floor</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgbx">
          <img
            src="https://dtbtob4osa700.cloudfront.net/DineImages/14022020071646191_dprim.png"
            alt="img"
            usemap="#abc"
          />
        </div>
        <div class="contentbx">
          <div>
            <h3>Chang & Co.</h3>
            <p>Restaurant|Ground Floor</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgbx">
          <img
            src="https://dtbtob4osa700.cloudfront.net/DineImages/15022020081901698_dprim.png"
            alt="img"
            usemap="#abc"
          />
        </div>
        <div class="contentbx">
          <div>
            <h3>Shiv Sagar</h3>
            <p>Restaurant|First Floor</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgbx">
          <img
            src="https://dtbtob4osa700.cloudfront.net/DineImages/12022020075644851_dprim.png"
            alt="img"
            usemap="#abc"
          />
        </div>
        <div class="contentbx">
          <div>
            <h3>Gelato Vinto</h3>
            <p>Icecream Parlour|Ground Floor</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card">
        <div class="imgbx">
          <img
            src="https://dtbtob4osa700.cloudfront.net/DineImages/15022020051718739_dprim.png"
            alt="img"
          />
        </div>
        <div class="contentbx">
          <div>
            <h3>Burger King</h3>
            <p>Food Court|First Floor</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgbx">
          <img
            src="https://dtbtob4osa700.cloudfront.net/DineImages/15022020023553387_dprim.png"
            alt="img"
          />
        </div>
        <div class="contentbx">
          <div>
            <h3>Naturals</h3>
            <p>Food court|Second Floor</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgbx">
          <img
            src="https://dtbtob4osa700.cloudfront.net/DineImages/12022020075837131_dprim.png"
            alt="img"
          />
        </div>
        <div class="contentbx">
          <div>
            <h3>Pop Tate's</h3>
            <p>Restaurant|Ground Floor</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgbx">
          <img
            src="https://dtbtob4osa700.cloudfront.net/DineImages/15022020003737490_dprim.png"
            alt="img"
          />
        </div>
        <div class="contentbx">
          <div>
            <h3>Jamie's Pizzeria</h3>
            <p>Restaurant|First Floor</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgbx">
          <img
            src="https://dtbtob4osa700.cloudfront.net/DineImages/12022020074857358_dprim.png"
            alt="img"
          />
        </div>
        <div class="contentbx">
          <div>
            <h3>Cafe Coffee Day</h3>
            <p>Restaurant|Lower Ground Floor</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgbx">
          <img
            src="https://dtbtob4osa700.cloudfront.net/DineImages/15022020001955764_dprim.png"
            alt="img"
          />
        </div>
        <div class="contentbx">
          <div>
            <h3>Cinnabon</h3>
            <p>Restaurant|Ground Floor</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card">
        <div class="imgbx">
          <img
            src="https://dtbtob4osa700.cloudfront.net/DineImages/15022020025153393_dprim.png"
            alt="img"
          />
        </div>
        <div class="contentbx">
          <div>
            <h3>Rajdhani</h3>
            <p>Restaurant|First Floor</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgbx">
          <img
            src="https://dtbtob4osa700.cloudfront.net/DineImages/15022020045329726_dprim.png"
            alt="img"
          />
        </div>
        <div class="contentbx">
          <div>
            <h3>Mad Over Donuts</h3>
            <p>Restaurant|First Floor</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgbx">
          <img
            src="https://dtbtob4osa700.cloudfront.net/DineImages/15022020054509187_dprim.png"
            alt="img"
          />
        </div>
        <div class="contentbx">
          <div>
            <h3>KFC</h3>
            <p>Food Court|Second Floor</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgbx">
          <img
            src="https://dtbtob4osa700.cloudfront.net/DineImages/15022020013349827_dprim.png"
            alt="img"
          />
        </div>
        <div class="contentbx">
          <div>
            <h3>Cafe Delhi Heights</h3>
            <p>Restaurant|Second Floor</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgbx">
          <img
            src="https://dtbtob4osa700.cloudfront.net/DineImages/15022020040535293_dprim.png"
            alt="img"
          />
        </div>
        <div class="contentbx">
          <div>
            <h3>Pizza Hut</h3>
            <p>Restaurant|First Floor</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgbx">
          <img
            src="https://dtbtob4osa700.cloudfront.net/DineImages/15022020005111653_dprim.png"
            alt="img"
          />
        </div>
        <div class="contentbx">
          <div>
            <h3>Fat Theory</h3>
            <p>Restaurant|First Floor</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
