<!--
    ####################################################
    C A R O U S E L
    ####################################################
    -->
  <section id="event">
<div
  id="carousel"
  class="carousel slide carousel-fade"
  data-ride="carousel"
  data-interval="6000"
>
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">

        
        <picture>
          <source
            srcset="https://s27389.pcdn.co/wp-content/uploads/2018/07/tech-events-diary-1024x440.jpg"
            media="(min-width: 1400px)"
          />
          <source
            srcset="https://creativecommons.org/wp-content/uploads/2021/02/Joey-Guidone_Need-for-Hope_social-media-cropped-440x250.jpg"
            media="(min-width: 769px)"
          />
          <source
            srcset="https://www4.gep.com/sites/default/files/images/page/banner/edit-basic-page/em-eventsem-eventsevent-page_0.png"
            media="(min-width: 577px)"
          />
          <img
            srcset="https://psbbmillenniumschool.org/psbb-cuddalore/assets/img/cover/events2.jpg"
            alt="responsive image"
            class="d-block img-fluid"
          />
        </picture>

        <div class="carousel-caption">
          <div>
            <h2 style="color: white;">On the occasion of Women's Day</h2>
            <p style="color: white;">In order to celebrate the beautiful women's present in our society, we organized the event "Beauty Pagent".The person with the best genuine answers and knowledge was gifted with a skin care hamper of Biotique.</p>
          </div>
        </div>
      </a>
    </div>
    <!-- /.carousel-item -->
    <div class="carousel-item">
        <picture>
          <source
            srcset="https://www.fabhotels.com/blog/wp-content/uploads/2018/10/1000x650-17.jpg"
            media="(min-width: 1400px)"
          />
          <source
            srcset="https://www.fabhotels.com/blog/wp-content/uploads/2018/10/1000x650-17.jpg"
            media="(min-width: 769px)"
          />
          <source
            srcset="https://www.fabhotels.com/blog/wp-content/uploads/2018/10/1000x650-17.jpg"
            media="(min-width: 577px)"
          />
          <img
            srcset="https://www.fabhotels.com/blog/wp-content/uploads/2018/10/1000x650-17.jpg"
            alt="responsive image"
            class="d-block img-fluid"
          />
        </picture>

        <div class="carousel-caption justify-content-center align-items-center">
          <div>
            <h2 style="color: white;">Our event organised on the visit of Indian Football team in our city!</h2>
            <p style="color: white;">We organised an indoor fooseball competition in our game arena.The winners were awarded with goodie hampers of Candy Shop!</p>
          </div>
        </div>
      </a>
    </div>
    <!-- /.carousel-item -->
    <div class="carousel-item">
        <picture>
          <source
            srcset="https://hamaraphotos.com/albums300_2012/wpw-20130607/hpse_fullsize__992522848_at%20Disney%20kids%20event%20in%20Oberoi%20Mall%2C%20Mumbai%20on%206th%20June%202013%20%2849%29.JPG"
            media="(min-width: 1400px)"
          />
          <source
            srcset="https://hamaraphotos.com/albums300_2012/wpw-20130607/hpse_fullsize__992522848_at%20Disney%20kids%20event%20in%20Oberoi%20Mall%2C%20Mumbai%20on%206th%20June%202013%20%2849%29.JPG"
            media="(min-width: 769px)"
          />
          <source
            srcset="https://hamaraphotos.com/albums300_2012/wpw-20130607/hpse_fullsize__992522848_at%20Disney%20kids%20event%20in%20Oberoi%20Mall%2C%20Mumbai%20on%206th%20June%202013%20%2849%29.JPG"
            media="(min-width: 577px)"
          />
          <img
            srcset="https://hamaraphotos.com/albums300_2012/wpw-20130607/hpse_fullsize__992522848_at%20Disney%20kids%20event%20in%20Oberoi%20Mall%2C%20Mumbai%20on%206th%20June%202013%20%2849%29.JPG"
            alt="responsive image"
            class="d-block img-fluid"
          />
        </picture>

        <div class="carousel-caption justify-content-center align-items-center">
          <div>
            <h2 style="color: white;">Children's Day Event</h2>
            <p style="color: white;">The Gini&Jony organised the event of fancy dress competition. The kids were also given free meals from Domino's as well as goodies!</p>
          </div>
        </div>
      </a>
    </div>
    <!-- /.carousel-item -->
  </div>
  <!-- /.carousel-inner -->
  <a
    class="carousel-control-prev"
    href="#carousel"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carousel"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</section>
<style>
  /*
Removes white gap between slides - chagnge to base color of slide images
*/
  .carousel {
    background: #007aeb;
  }

  /*
Forces image to be 100% width and not max width of 100%
*/
  .carousel-item .img-fluid {
    width: 100%;
  }

  /* 
anchors are inline so you need ot make them block to go full width
*/
  .carousel-item a {
    display: block;
    width: 100%;
  }
</style>
<!-- /.carousel -->

<!-- /.container -->
