<!DOCTYPE html>
<html>
  <body>
    <img src="/img/mall-map.gif" alt="Workplace" usemap="#workmap" />

    <map name="workmap">
      <!-- orange -->
      <area
        shape="rect"
        coords="560,230,680,440"
        alt="Computer"
        href="https://www.lastcallco.com/"
        target="_blank"
        data-store-name=""
        ;
        data-store-id=""
        ;
      />
      <area
        shape="rect"
        coords="687,232,746,439"
        href="https://www.hm.com/entrance.ahtml?orguri=%2F"
        alt="H&M"
      />
      <area
        shape="rect"
        coords="746,366,767,439"
        href="https://andersen-bakery-eu.dk/"
        alt="AndersenBakery"
      />
      <area
        shape="rect"
        coords="537,316,566,439"
        href="https://global.tommy.com/en_int/collection"
        alt="TommyHilfiger"
      />
      <area
        shape="rect"
        coords="500 316 524 450"
        href="https://www.loveculture.com/"
        alt="Love Culture"
      />
      <area
        shape="rect"
        coords="401,411,503,350"
        href="https://www.redrobin.com/"
        alt="Red Burger"
      />
      <area
        shape="rect"
        coords="416,441,499,387"
        href="https://bcbg.com/"
        alt="Max Azria"
      />

      <area
        shape="poly"
        coords="372,457,371,495,342 463"
        href="https://www.chipotle.com/"
        alt="Chipotle"
      />

      <!-- to be checked again -->
      <!-- <area shape="poly" coords="393,477,408,473,410,518,410,493" href="https://www.joesjeans.com/" alt="Joe's Jeans"> -->

      <!-- <area shape="poly" coords="326,485,308,504,396,553,380,573" href="" alt="Computer" target="blank",data-store-name=""; data-store-id=""> -->
      <area
        shape="poly"
        coords="295,519,373,581,353,597,282,534"
        href="https://www.armaniexchange.com/us/men/view-all-sale-man"
        alt="Armani Excahnge"
      />
      <area
        shape="poly"
        coords="275,536,345,601,337,613,61,333"
        href="https://www.coach.com/shop/men"
        alt="Computer"
        target="blank"
        ,data-store-name="Coach-Men"
        ;
        data-store-id=""
      />
      <area
        shape="poly"
        coords="258,553,334,622,302,655,258,605,"
        href="https://www.coachoutlet.com/"
        alt="Computer"
        target="blank"
        ,data-store-name="Coach-Factory store"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="114,580,183,701"
        href="https://www.olivegarden.com/home"
        alt="Computer"
        target="blank"
        ,data-store-name="Olive Garden"
        ;
        data-store-id=""
      />
      <area
        shape="poly"
        coords="187,581,192,705,296,703,303,657,256,610,257,780"
        href="https://www.saksoff5th.com/"
        alt="Computer"
        target="blank"
        ,data-store-name="Off 5th"
        ;
        data-store-id=""
      />

      <!-- Pink -->
      <area
        shape="rect"
        coords="1330,630,1618,737"
        alt="Computer"
        href="https://www.forever21.in/"
        target="_blank"
      />
      <area
        shape="poly"
        coords="1386,821,1395,880,1502,875,1498,823"
        href="https://www.bedbathandbeyond.com/store/category/kitchen/10002/"
        alt="Computer"
        target="blank"
        ,data-store-name="Bed and bath"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="1742,754,1906,907"
        href="https://www.bedbathandbeyond.com/store/category/kitchen/10002/"
        alt="Computer"
        target="blank"
        ,data-store-name="Dave and busters"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="1662,752,1709,773"
        href="www.google.com"
        alt="Computer"
        target="blank"
        ,data-store-name="Claires"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="1682,650,1789,734"
        href="https://www.bedbathandbeyond.com/store/category/kitchen/10002/"
        alt="Computer"
        target="blank"
        ,data-store-name="Off Broadway"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="1671,579,1727,606"
        href="www.google.com"
        alt=""
        alt="Computer"
        target="blank"
        ,data-store-name="Game stop"
        ;
        data-store-id=""
      />

      <!-- Green -->
      <area
        shape="rect"
        coords="151,740,317,962"
        href="https://www.marshalls.com/international.html"
        alt="Computer"
        target="blank"
        ,data-store-name="Marshalls"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="227,717,293,773"
        href="https://ninewest.com/"
        alt="Computer"
        target="blank"
        ,data-store-name="Nine-west"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="328,896,379,960"
        href="https://www.yelp.com/biz/great-mall-mayflower-seafood-restaurant-milpitas"
        alt="Computer"
        target="blank"
        ,data-store-name="Great mall Mayflower"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="408,822,476,961"
        href="https://www.victoriassecret.com/us/"
        alt="Computer"
        target="blank"
        ,data-store-name="Victoria's Secret"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="487,847,765,962"
        href="https://www.burlington.com/"
        alt="Computer"
        target="blank"
        ,data-store-name="Burlington"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="478,977,764,1029"
        href="http://bounce-a-rama.com/"
        alt="Computer"
        target="blank"
        ,data-store-name="Bounce-A-Rama"
        ;
        data-store-id=""
      />
      <area
        shape="poly"
        coords="326,860,327,883,384,887,385,859"
        href="https://www.bose.com/en_us/index.html"
        alt="Computer"
        target="blank"
        ,data-store-name="Bose"
        ;
        data-store-id=""
      />
      <area
        shape="poly"
        coords="333,842,345,853,376,820,367,811"
        href="https://www.sweetfactory.com/"
        alt="Computer"
        target="blank"
        ,data-store-name="Sweet Factory"
        ;
        data-store-id=""
      />
      <area
        shape="poly"
        coords="339,839,348,852,377,824,371,814"
        href="https://www.sweetfactory.com/"
        alt="Computer"
        target="blank"
        ,data-store-name="Sweet Factory"
        ;
        data-store-id=""
      />

      <!-- Yellow -->
      <area
        shape="rect"
        coords="1868,343,2052,720"
        href=""
        alt="Computer"
        target="blank"
        ,data-store-name="Century Theaters"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="1394,222,1712,404"
        href=""
        alt="Computer"
        target="blank"
        ,data-store-name="Kohl's"
        ;
        data-store-id=""
      />
      <area
        shape="poly"
        coords="1618,452,1636,496,1713,484,1719,419"
        href=""
        alt="Computer"
        target="blank"
        ,data-store-name="PAC SUN"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="1720,416,1781,294"
        href=""
        alt="Computer"
        target="blank"
        ,data-store-name="Century Theaters"
        ;
        data-store-id=""
      />

      <!-- Blue -->
      <area
        shape="rect"
        coords="1322,2471385,275"
        href=""
        alt="Computer"
        target="blank"
        ,data-store-name="Red Ribbon Bakeshop"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="1161,226,1243,333"
        href=""
        alt="Computer"
        target="blank"
        ,data-store-name="Old Navy"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="1006,225,1139,435"
        href=""
        alt="Computer"
        target="blank"
        ,data-store-name="Group USA"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="853,146,994,358"
        href=""
        alt="Computer"
        target="blank"
        ,data-store-name="Sports Authority"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="794,139,846,228"
        href=""
        alt="Computer"
        target="blank"
        ,data-store-name="BevMo"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="935,389,1003,437"
        href=""
        alt="Computer"
        target="blank"
        ,data-store-name="O'Neil"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="753,234,845,353"
        href=""
        alt="Computer"
        target="blank"
        ,data-store-name="GAP"
        ;
        data-store-id=""
      />

      <!-- Purple -->
      <area
        shape="rect"
        coords="724,638,784,700"
        href=""
        alt="Computer"
        target="blank"
        ,data-store-name="Nike"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="1113,708,1167,633"
        href=""
        alt="Computer"
        target="blank"
        ,data-store-name="Wilson Leather Outlet"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="1182,801,1332,944"
        href=""
        alt="Computer"
        target="blank"
        ,data-store-name="sears outlet"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="861,636,919,710"
        href=""
        alt="Computer"
        target="blank"
        ,data-store-name="A'gcai"
        ;
        data-store-id=""
      />
      <area
        shape="rect"
        coords="924,710,964,636"
        href=""
        alt="Computer"
        target="blank"
        ,data-store-name="Foot locker"
        ;
        data-store-id=""
      />
    </map>
  </body>
  <script></script>
</html>
