
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About Us</h2>
            <h3 class="section-subheading text-muted">Your perfect <b>Day-Out</b> Partner</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://static.vecteezy.com/system/resources/thumbnails/002/115/090/small/we-re-open-business-sign-free-vector.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Our Humble Beginnings</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">We as a team came together and decided to open this fantastic and fun-filled place for all of you! A junction for shoppers, a stop for foodies, or place for gamers we offer everything to you under one roof. Seeing the rise in online shopping, thought of bringing this website to you in order to list everything you need at your fingertips!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://image.shutterstock.com/image-vector/shopping-cart-vector-products-business-600w-617303969.jpg" alt="..." style="vertical-align: middle; border: none;" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Shopper's Paradise</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Truly a shopper's paradise, our mall has been touted as the number one destination when it comes to shopping in the city. The mall provides the customers the best international brands,offers,contests and holistic shopping experience. Our mall houses premium and high street brands sprawled across literally million square feets.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://image.freepik.com/free-vector/eat-drink-be-thankful-lettering-quote_155578-15.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        
                        <h4 class="subheading">Eateries</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">The mall houses a number of eateries that cook up multifarious cuisines from across continents,and full-fledged entertainment hub. With lip smacking food and drinks, we promise your foodie mind will go crazy!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://image.shutterstock.com/image-vector/gamer-play-win-logo-neon-600w-1120701071.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>July 2020</h4>
                        <h4 class="subheading">Phase Two Expansion</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">We also offer a number of entertainment activities, such as Bowling Alley, Game Zone and many more. It's accurate to say that our mall offers an experiential adventure that you can spend days indulging in.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Come
                        <br/>
                        Visit Us
                        <br/>
                        Soon!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>  

