<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Registration</title>
    <link rel="stylesheet" href="css/offer-page.css" />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="form_wrapper">
      <div class="form_container">
        <div class="title_container">
          <h2>Offer</h2>
        </div>
        <div class="row clearfix">
          <div class="">
            <form method="post" action="/events">
              <div>
                <label>Select Store</label>
                <select name="storeid" class="formbox">
                  <option value="Visitor">Visitor</option>
                </select>
              </div>
              <div class="input_field">
                <span><i aria-hidden="true" class="fa fa-user"></i></span>
                <input
                  type="text"
                  name="offername"
                  placeholder="Offer Name"
                  required
                />
              </div>
              <div class="input_field">
                <span><i aria-hidden="true" class="fa fa-edit"></i></span>
                <input type="text" name="offerby" placeholder="Offer by" />
              </div>
                <div class="col_half">
                  <div class="input_field">
                    <p>Start Date</p>
                    <input
                      type="date"
                      name="start_date"
                      placeholder="Start Date"
                      required
                    />
                  </div>
                </div>
                <div class="col_half">
                  <div class="input_field">
                    <p>End Date</p>
                    <input
                      type="date"
                      name="end_date"
                      placeholder="End Date"
                      required
                    />
                  </div>
                </div>
              </div>
              <input
                class="eventregisterd"
                type="submit"
                onclick="registerEvent"
                value="Register"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    function registerEvent(e) {
      e.preventDefault();
      console.log($(form).serializeArray());
    }
  </script>
</html>
